/**************************************************************************************************
 *
 *  @Section: Module - Hero
 *
***************************************************************************************************/
.module.module-hero { 
	padding: 0;
	background-color: $main-color;
	
	.card-slide-default { height: 25vw;

		.description-container {
			bottom: auto;
			@include centered-xy;

			h1,
			h2,
			h3 {
				padding-bottom: 0;

				&:before,
				&:after { display: none; }
			}
		}
	}

	.card-heading {
		margin: 10px auto;
	}
}

@media only screen and (max-width: $breakpoint) {

	
}