/**************************************************************************************************
 *
 *  @Section: Module - Slideshow
 *
***************************************************************************************************/
.module-slideshow {
	padding: 0;

	.slides { display: block;

		.item {
			width: 100%;
			height: 35vw;
			min-height: 400px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}


		.slick-arrow {
			position: absolute;
			margin: 0;
	    	height: 100%;
			border: none;
			color: $white;
			background: transparent;
			z-index: 1010;
			@include font-size(3.5);
			@include text-shadow;
			@include centered-y;

			&.slick-prev {
				left: 0;
				padding: 0 10vw 0 25px;
			}

			&.slick-next {
				right: 0;
				padding: 0 25px 0 10vw;
			}

			&:hover {
				color: $light-gray;
				background-color: rgba($white, 0.1);
				@include opacity(1);

				&.slick-prev {
					background: -moz-linear-gradient(left,  rgba($black, 0.1) 0%, rgba($black, 0) 100%);
					background: -webkit-linear-gradient(left,  rgba($black, 0.1) 0%,rgba($black, 0) 100%);
					background: linear-gradient(to right,  rgba($black, 0.1) 0%,rgba($black, 0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=1 );
				}

				&.slick-next {
					background: -moz-linear-gradient(left,  rgba($black, 0) 0%, rgba($black, 0.1) 100%);
					background: -webkit-linear-gradient(left,  rgba($black, 0) 0%,rgba($black, 0.1) 100%);
					background: linear-gradient(to right,  rgba($black, 0) 0%,rgba($black, 0.1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 );
				}
			}
		}

		.slick-dots {
			position: absolute;
			bottom: 15px;
			right: 15px;

			.li {

				button {
					width: 15px;
					height: 15px;
				}

				&.slick-active button { 
					background-color: $gray;
					width: 30px;
				}

				&:hover button { background-color: $light-gray; }
			}
		}
	}
}